// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;

// palette
$principal: #141414;
$footer: #141414;

$red: #E94C4C;
$blue: #13262F;
$gray: #212529;
$gray-dark: #0e0000;
$black-light: #141414;
