// Specific CSS for your home-page

 * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column-home {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row-home {margin: 10px;}

/* Clear floats after the columns */
.row-home:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card-home {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 80px;
  height: 185px;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  color: white;
  background-color: #f1f1f1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column-home {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.row-text {
  padding: 30px 10px 10px 10px;
  margin: 10px;
}

#card-media {
  background-image: url("https://res.cloudinary.com/doytrcpmk/image/upload/v1635956289/media_bhvhgj.jpg");
}

#card-clothing {
  background-image: url("https://res.cloudinary.com/doytrcpmk/image/upload/v1635435617/alex-haigh-fEt6Wd4t4j0-unsplash_mrxfg3.jpg");
  background-size: 50%;
  // background-color: #dfdf01;
  background-color: white;
}

#card-accessories {
  background-image: url("https://res.cloudinary.com/doytrcpmk/image/upload/v1635957839/accessories_thxghu.webp");
  background-size: 70%;
  background-color: #bcbec2;
}

#card-ticket {
  background-image: url("https://res.cloudinary.com/doytrcpmk/image/upload/v1635956305/coding-ticket_c0jxwq.jpg");
  background-size: 50%;
  background-color: black;
}

#card-artist1 {
  background-image: url("https://res.cloudinary.com/doytrcpmk/image/upload/v1635955969/artist1_g9mlxp.jpg");
}

#card-artist2 {
  background-image: url("https://res.cloudinary.com/doytrcpmk/image/upload/v1635956356/artist2_il1u21.jpg");
}

#card-artist3 {
  background-image: url("https://res.cloudinary.com/doytrcpmk/image/upload/v1635956339/artist3_rrwuvg.jpg");
}

#card-artist4 {
  background-image: url("https://res.cloudinary.com/doytrcpmk/image/upload/v1635956331/artist4_bkaflt.jpg");
}
