<br>
<br>
<br>
<div class="d-flex justify-content-center">
  <div class="card text-white bg-success mb-3" style="width: 21rem;">
    <div class="card-header"><h2>Forgot your password?</h2></div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>
          <div class="d-flex form-actions flex-column" >
            <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary" %>
            <a href="/users/sign_in" type="submit" style="font-size:14px; color:white">Log in instead</a>
            <a href="/users/sign_in" type="submit" style="font-size:14px; color:white">Sign up</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
