
<h1>My orders</h1>
<p>
<% @orders.each do |order| %>
  <li><%= "#{order.id} - #{order.date} - completed" %></li>
<% end %>
</p>

<br>
<br>
<div class="ml-3">
<%= link_to 'Back to Products', products_path %>
</div>
