
<h1>My orders</h1>
<p>
<% @orders.each do |order| %>
  <p><%= "#{order.id} - #{order.date} - #{order.product.name} - #{order.product.price} - #{order.product.quantity}" %></p>
<% end %>
</p>

<br>
<br>
<div class="ml-3">
  <%= link_to 'Back to Products', products_path %>
</div>
