<div id="banner">
  <div class="hero-btn-holder text-center">
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <br>
    <a href="/products" class='btn btn-primary'>See all Products</a>
    <a href="/artists" class='btn btn-danger'>See all Artists</a>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row-text">
        <h4>Best-Selling Products</h4>
      </div>

      <div class="row-home">
        <div class="column-home">
          <div class="card-home", id="card-media">
            <a href="/products/1" style="color: white" class='btn-outline-link'>Media</a>
          </div>
        </div>
        <div class="column-home">
          <div class="card-home", id="card-clothing">
            <a href="/products/2" style="color: white" class='btn-outline-link'>Clothing</a>
          </div>
        </div>
        <div class="column-home">
          <div class="card-home", id="card-accessories">
            <a href="/products/3" style="color: white" class='btn-outline-link'>Accessories</a>
          </div>
        </div>
        <div class="column-home">
          <div class="card-home", id="card-ticket">
            <a href="/products/4" style="color: white" class='btn-outline-link'>Ticket</a>
          </div>
        </div>
      </div>

      <div class="row-text">
        <h4>Most Wanted Artists</h4>
      </div>

      <div class="row-home">
        <div class="column-home">
          <div class="card-home d-flex align-items-center", id="card-artist1">
            <a href="/artists/1" style="color: white" class='btn-outline-link'>Switchfeet</a>
          </div>
        </div>
        <div class="column-home">
          <div class="card-home d-flex align-items-center", id="card-artist2">
            <a href="/artists/2" style="color: white" class='btn-outline-link'>All Souls Matter</a>
          </div>
        </div>
        <div class="column-home">
          <div class="card-home d-flex align-items-center", id="card-artist3">
            <a href="/artists/3" style="color: white" class='btn-outline-link'>Shake The Dust</a>
          </div>
        </div>
        <div class="column-home">
          <div class="card-home d-flex align-items-center", id="card-artist4">
            <a href="/artists/4" style="color: white" class='btn-outline-link'>Coding Bootcamp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row-footer">
  <div class="column-footer">
    <p>This is the garage sound to all lovers fans</p>
  </div>
  <div class="column-footer" id="footer">
    <ul class='list-inline'>
      <li><a href="http://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
      <li><a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="http://www.deezer.com" target="_blank"><i class="fab fa-deezer"></i></a></li>
      <li><a href="http://www.spotify.com" target="_blank"><i class="fab fa-spotify"></i></a></li>
      <li><a href="http://www.napster.com" target="_blank"><i class="fab fa-napster"></i></a></li>
    </ul>
  </div>
</div>
