<br>
<br>
<div>
  <h3>The most cherished</h3>
  <h3>memories of your favorite</h3>
  <h3>independent artists</h3>
</div>

<div class="hero-btn-holder text-center">
  <a href="/products" class="btn btn-large" target="_blank">See all products</a>
  <a href="/products/new" class="btn btn-large">Start Selling</a>
</div>

<%# <p>Find me in app/views/pages/home.html.erb</p> %>
