<div id="banner">
  <div class="hero-btn-holder text-center">
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <br>
    <a href="/products" class='btn btn-primary'>See all products</a>
    <a href="/products/new" class='btn btn-primary'>Start Selling</a>
    <br>
  </div>
</div>

<div>
  <br>
  <br>
  <h4>Best-Selling Products</h4>
  <br>
</div>

<div class="row">
  <div class="column">
    <div class="card", id="card-media">
      <a href="/products/1" class='btn'>Media</a>
    </div>
  </div>
  <div class="column">
    <div class="card", id="card-clothing">
      <a href="/products/2" class='btn'>Clothing</a>
    </div>
  </div>
  <div class="column">
    <div class="card", id="card-accessories">
      <a href="/products/3" class='btn'>Accessories</a>
    </div>
  </div>
  <div class="column">
    <div class="card", id="card-ticket">
      <h1><a href="/products/4" class='btn'>Ticket</a></h1>
    </div>
  </div>
</div>

<br>
<br>

<div>
  <h4>Most Wanted Artists</h4>
</div>

<br>
 <div class="row">
  <div class="column">
    <div class="card", id="card-artist1">
      <a href="/products/1" class='btn'>Switchfeet</a>
    </div>
  </div>
  <div class="column">
    <div class="card", id="card-artist2">
      <a href="/products/2" class='btn'>All Souls Matter</a>
    </div>
  </div>
  <div class="column">
    <div class="card", id="card-artist3">
      <a href="/products/3" class='btn'>Shake the dust</a>
    </div>
  </div>
  <div class="column">
    <div class="card", id="card-artist4">
      <a href="/products/4" class='btn'>Coding Bootcamp</a>
    </div>
  </div>
</div>

<br>
<br>

<div class="row" id="footer">
  <div class="column-footer">
    <p>This is the garage sound to all lovers fans</p>
  </div>
  <div class="column-footer">
    <ul class='list-inline'>
      <li><a href="http://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
      <li><a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
      <li><a href="http://www.deezer.com"><i class="fab fa-deezer"></i></a></li>
      <li><a href="http://www.spotify.com"><i class="fab fa-spotify"></i></a></li>
      <li><a href="http://www.napster.com"><i class="fab fa-napster"></i></a></li>
    </ul>
  </div>
</div>
