<div id="banner">
  <div class="hero-btn-holder text-center">
    <p>The most cherished</p>
    <p>memories of your favorite</p>
    <p>independent artists</p>
    <br>
    <a href="/products" class='btn btn-primary'>See all products</a>
    <a href="/products/new" class='btn btn-primary'>Start Selling</a>
    <br>
  </div>
</div>


<%# <p>Find me in app/views/pages/home.html.erb</p> %>
