<div id="banner">
  <div class="hero-btn-holder text-center">
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <br>
    <a href="/products" class='btn btn-primary'>See all products</a>
    <a href="/products/new" class='btn btn-primary'>Start Selling</a>
    <br>
  </div>
</div>


<div id="footer">
        <p>This is the garage sound to all lovers fans</p>
        <ul class='list-inline'>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
        </ul>

</div>

<%# <p>Find me in app/views/pages/home.html.erb</p> %>
