<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MnwxMjA3fDB8MHxwaG90[…]fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=859&q=80');">
<br>
<br>
  <h3>The most cherished</h3>
  <h3>memories of your favorite</h3>
  <h3>independent artists</h3>
</div>

<div class="hero-btn-holder text-center">
  <a href="/products" class="btn btn-large" target="_blank">See all products</a>
  <a href="/products/new" class="btn btn-large">Start Selling</a>
</div>

<%# <p>Find me in app/views/pages/home.html.erb</p> %>
