#banner {
  text-align: center;
  background-size: cover;
  padding: 140px;
  color: white;
  text-shadow: 1px 1px 5px black;
  p {
    color: whitesmoke;
    opacity: 0.8;
    font-size: 30px;
    font-weight: lighter;
  }
}
