#footer{
  text-align: center;
  padding: 15px;
  background: rgb(20, 20, 20);
  color: lightgrey;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}

.list-inline {
  text-align: center;
  padding: 10px;
  font-weight: lighter;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 20%;
  align-items: flex-start;
}
