/* Float two columns side by side */
.column-footer {
  width: 50%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgb(20, 20, 20);
  color: lightgrey;
  align-self: center;
  padding: 15px;
  height: auto;
  p {
    text-align: center;

  }
}

/* Remove extra left and right margins, due to padding in columns */
.row-footer {
  margin: 0px;
  background: rgb(20, 20, 20);
  display: flex;
}

// #footer{
//   text-align: center;
//   padding: 40px;
//   background: rgb(20, 20, 20);
//   color: lightgrey;
//   justify-content: center;
// }

#footer a {
  color: lightgrey;
  font-size: 20px;
  letter-spacing: 2ch;
}
#footer a:hover {
  color: white;
}

.list-inline {
  text-align: justify;
  padding: 5px;
  font-weight: lighter;
  display: inline-flex;
  justify-content: space-around ;
  // flex-flow: row wrap;
  width: 20%;
  align-items: center;
}
