.navbar-lewagon {
  justify-content: space-between;
  background: $principal;
  color: whitesmoke;
  box-shadow: 2px 2px 3px black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.a-primary:link {
  color: white;
  text-decoration: none;
  padding: 14px;
}

