
      <div id="products">
        <h1>List of Products</h1>
          <ul>
            <% @products.each do |product| %>
              <li><h4><%= link_to product.name, product_path(product) %></h4></li>
              <p>Artist: <%= product.user.artist %></p>
            <% end %>
          </ul>
        <div>
          <p class='btn btn-success'><%= link_to 'Create a new Product', new_product_path %></p>
        </div>
      </div>
  

<
