
<h1>List of Products</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
      <% end %>

    <br>
    <br>
      <div class="ml-3">
        <p><%= link_to 'Create a new Product', new_product_path %></p>
      </div>
    </div>
  </div>
<div>
